
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');

  
body {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.main {
    height: 100vh;
    background-color: #a5b4fc;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;

}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 10%;
    max-height: 10%;
    gap: 0px;
    grid-column: 2/3;    
    padding: 100px 100px;
}



.cell[data-index="3"],.cell[data-index="4"],.cell[data-index="5"] {
    border-top:  5px solid #16a34a;
    border-bottom: 5px solid #16a34a;
}

.cell[data-index="1"],.cell[data-index="4"],.cell[data-index="7"] {
        border-left:  5px solid #16a34a;
        border-right: 5px solid #16a34a;
        
}

.cell {

    font-size: 2.5rem;
    width: 3em;
    height: 3em;
    line-height:3em;
    text-align: center;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #be185d;
    
}

.player1,.player2 {
    grid-row: 2/3;
    justify-self: center;
}
.player1 {
    grid-column: 1/2;
   
}

.player2 {
    grid-column: 3/4;
}
p {
    font-size: 2rem;
    color: #be185d;
}
h1 {
    grid-column: 2/3;
    grid-row:1/2;
    justify-self: center;
    align-self: center;
    color: #be185d;
}
button {
    grid-column-start:2 ;
    grid-row-start:3; 
    max-width: 100%;
    max-height: calc(10% + 2em);
    border: none;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2em;
    background-color:#a5b4fc;
    color: #16a34a;
    justify-self: center;
    border: 3px solid #16a34a;
    padding:0 2em;
    border-radius: 5px ;
    
    
}

button:hover{
    background-color:#16a34a;
    color: #a5b4fc;
}
